<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1 mt-4">
        <div class="auth-side-form">
            <div [ngSwitch]="form">
                <div *ngSwitchCase="'login'">
                    <app-login></app-login>
                </div>
                <div *ngSwitchCase="'register'">
                    <app-signup></app-signup>
                </div>
                <div *ngSwitchCase="'reset-password'">
                    <app-reset-password></app-reset-password>
                </div>
                <div *ngSwitchDefault>
                    <app-login></app-login>
                </div>
            </div>
        </div>

        <div class="h-100 d-md-flex align-items-center auth-side-img">
            <div class="col-sm-10 auth-content w-auto">
                <h5 class="font-weight-normal pl-5 text-center">Enhance the Restaurant Experience for your Beloved
                    Customers.
                </h5>
                <img src="assets/images/auth/appbackground.webp" alt="FoodiesAppImage_Not_Loaded" class="img-fluid">

            </div>
        </div>
    </div>
</div>