<main id="parentDiv"
    scrollSpy [spiedTags]="['DIV']"
    class="portfolio-main m-0">
    
    <section  id="section1">
        <app-hero></app-hero>
    </section>
    <section  id="section2">
        <app-about></app-about>
    </section>
    <section  id="section3">
        <app-projects></app-projects>
    </section>
    <section  id="section4">
        <app-skills></app-skills>
    </section>
    <section  id="section5">
        <app-education></app-education>
    </section>
    <section  id="section6">
        <app-previously></app-previously>
    </section>
</main>