<div class="project-img-container">
    <div class="project-img">
        <img class="shadow" src="{{ project?.imagePath }}">
    </div>
    <div class="on-hover shadow">
        <div class="on-hover-bubble">
            <span class="on-hover-title">{{ project?.title }}</span>
            <p>{{ project?.description }}</p>
        </div>
    </div>
</div>

<h3>{{ project?.title }}</h3>
<p class="pr-3">{{ project?.summary }}</p>
<div class="tech-tags" *ngFor="let tag of project?.tags">
    <span class="badge"> {{ tag }} </span>
</div>