<div class="project-img-container">
    <div class="project-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/HDRI_Sample_Scene_Balls_%28JPEG-HDR%29.jpg">
    </div>
    <div class="on-hover">
        <div class="on-hover-bubble">
            <span class="on-hover-title">Project Title</span>
            <p>This is a description truncated at 150 words...</p>
        </div>
    </div>
</div>

<h3>Project Title</h3>
<p>Project description summary</p>
<div class="tech-tags">
    <span class="badge">
        Badge
    </span>
</div>