<section class="section-content" data-section="about">
    <div class="narrow-content">
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <div class="container">
                <h6>TECHSTACK</h6>
                <h2>Areas of Expertise</h2>

                <ul class="tech-category d-flex inline">
                    <li><a>All</a></li>
                    <li><a>Frontend</a></li>
                    <li><a>Backend</a></li>
                    <li><a>Others</a></li>
                </ul>
                <div class="row techstacks">
                    <div class="col-md-3 ml-0 pl-0">
                        <app-skill></app-skill>
                    </div>
                    <div class="col-md-3">
                        <app-skill></app-skill>
                    </div>
                    <div class="col-md-3">
                        <app-skill></app-skill>
                    </div>
                    <div class="col-md-3">
                        <app-skill></app-skill>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

    <div id="colorlib-counter" class="colorlib-counters" style="background-color: #333;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-12 text-center animate-box">
    
                    <span class="colorlib-counter-label colorlib-counter quote">while True: learn()
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>