<section class="section-content" data-section="about">
    <div class="narrow-content">
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <div class="container">
                <h6>TECHSTACK</h6>
                <h2>Areas of Expertise</h2>

                <ul class="tech-category d-flex inline">
                    <li [ngClass]="{active: activeCategory === 'all'}" (click)="getStack('all')">All</li>
                    <li [ngClass]="{active: activeCategory === 'frontend'}" (click)="getStack('frontend')">Frontend</li>
                    <li [ngClass]="{active: activeCategory === 'backend'}" (click)="getStack('backend')">Backend</li>
                    <li [ngClass]="{active: activeCategory === 'other'}" (click)="getStack('other')">Others</li>
                </ul>
                <div class="row techstacks">
                    <div class="col-lg-3 col-md-4 col-6 ml-0 pl-0" *ngFor="let techItem of displayedTracks">
                        <app-skill [techItem]="techItem"></app-skill>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

    <div id="colorlib-counter" class="colorlib-counters" style="background-color: #333;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-12 text-center animate-box">
    
                    <span class="colorlib-counter-label colorlib-counter quote">while True: learn()
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>