$blue: #7a7fd3;
$light-blue: #2c98f0;
h2::after {
  background: $light-blue;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  bottom: -20px;
  width: 100px;
  @media(max-width: 768px) {
    left: calc(50% - 50px);
    margin: 0 auto;

  }
}
.work-menu {

  span {
    margin-left: 10px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.work-menu span:first-child {
  margin-left: 0;
}

.work-menu span a {
  color: #000;
  text-decoration: none;
}

.content {
  height: 150px;
}

.active {
  color: #2c98f0;
}
