$blue: rgb(59, 109, 136);
$dark-blue: #2c98f0;
$darkest-blue: rgb(107, 108, 187);
$light: #f2f3f7;;
$dark-blue:rgb(95, 153, 192);
$darker-blue: rgb(77, 79, 100);

h2::after {
  background: $darker-blue;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  bottom: -20px;
  width: 100px;
  @media(max-width: 768px) {
    left: calc(50% - 50px);
    margin: 0 auto;
  }
}

nav > .nav.nav-tabs{

    border: none;
    color:#333;
    background:$light;
    // background: linear-gradient(320deg, $blue 0%, $dark-blue 100%);

    border-radius:0;
    margin-right: 20px;
    @media(max-width: 768px) {
      margin-right: 0px;
    }

}
nav > div span.nav-item.nav-link
{
    border: none;
    padding: 18px 20px;
    color:#333;
    background: transparent;
    border-radius:0;
}

nav > div span.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -15%;
  border: 15px solid transparent;
  border-top-color: $dark-blue;
  @media(max-width: 768px) {
    left: -40%;
  }
}

.tab-content{
    background: #fdfdfd;
    line-height: 25px;
    margin-right: 20px;
    border-top:5px solid $dark-blue;
    // border-bottom:5px solid $dark-blue;
    // border: 1px solid #ddd;
    @media(max-width: 768px) {
      margin-right: 0px;
    }
}

nav > div span.nav-item.nav-link:hover,
nav > div span.nav-item.nav-link:focus
{
  // background: $darkest-blue;
  cursor: pointer;
  color:$dark-blue;
  transition:background 0.20s linear;
}

p{
  @media(min-width: 768px) {
    margin-bottom: 0px;
  }
}