
mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none !important;
}
.mat-expansion-panel-header {
  background-color: #f6f6f6 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  @media screen and (max-width: 992px) {
   height: auto !important;
   padding: 5px 20px !important;
}
}

p {
  margin-top: 20px;
}
