<section class="section-content" data-section="about">
    <div class="narrow-content">
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <div class="container">
                <h6>BEFORE SOFTWARE</h6>
                <h2>PRIOR EXPERIENCES</h2>
                
                <mat-accordion>
                    
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               <h4>
                                    Product Development Engineer - AgriQ & Automation. &nbsp;
                                    (March, 2018 - March, 2019)
                               </h4>

                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>AgriQ & Automations is an agri-tech start-up I co-founded with a few colleagues during campus that develops technology
                        aimed at solving farmers’ major pain-points and boost their productivity. My responsibilities and areas of focus
                        comprised of:</p>

                        <ul>
                            <li>Researching into challenges facing farmers and determining possible solutions.</li>
                            <li>Drafting computer-aided designs for products aimed at solving the farmers' challenges.</li>
                            <li>Designing of printed circuit boards and writing firmware. I collaborated with the team to design and implement a smart
                                    brooding kit that monitors and controls temperature and humidity inside poultry houses to ensure the provision of
                                    optimum chick brooding conditions.</li>
                            <li>Installation of systems in farms.</li>
                        </ul>
                        <a href="https://agriqautomations.com/">Check it out ➜</a>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </div>
</section>