<!-- <div>
    <app-sidenav></app-sidenav>
    <div class="portfolio-main">
    <app-home></app-home>
    <app-about></app-about>
    <app-projects></app-projects>
    <app-skills></app-skills>
    <app-education></app-education>
    <app-experiences></app-experiences>
    <app-contact></app-contact>
    </div>
</div>
<div> -->
<h1>Current Section : [{{currentSection}}]</h1>

<h2>Menu</h2>
<div (click)="scrollTo('section1')" [ngClass]="{ 'current-section': currentSection === 'section1' }">Section 1
</div>
<div (click)="scrollTo('section2')" [ngClass]="{ 'current-section': currentSection === 'section2' }">Section 2
</div>
<div (click)="scrollTo('section3')" [ngClass]="{ 'current-section': currentSection === 'section3' }">Section 3
</div>
<div (click)="scrollTo('section4')" [ngClass]="{ 'current-section': currentSection === 'section4' }">Section 4
</div>



<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" class="portfolio-main">
  <div id="section1">
    <app-home></app-home>
  </div>
  <div id="section2">
    <app-about></app-about>
  </div>
  <div id="section3">
    <app-projects></app-projects>
  </div>
  <div id="section4">
    <app-skills></app-skills>
  </div>
  <div id="section5">
    <app-education></app-education>
  </div>
  <div id="section6">
    <app-experiences></app-experiences>
  </div>
</div>
