<div class="auth-side-form">
        <h4 class="">Login to your account</h4>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="outline" class="mb-2">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" [errorStateMatcher]="matcher">
                <mat-error *ngIf="f.email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="f.email.hasError('email')">Invalid email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mb-2">
                <mat-label>Password</mat-label>
                <input matInput type="password" [errorStateMatcher]="matcher">
                <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
            </mat-form-field>
            <button mat-button color="primary" class="w-100 btn btn-primary text-white mat-btn-100">
                <span *ngIf='!loading'>Sign In</span>
                <div *ngIf='loading'>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Logging in...
                </div>
            </button>
        </form>

        <div class="text-center mt-4">
            <p class="text-muted">New to foodies?&nbsp;<a [routerLink]="['/auth/register']" class="text-primary">Sign
                    up</a></p>
            <p class="text-muted">Forgot password?&nbsp;<a [routerLink]="['/auth/reset-password']"
                    class="text-primary">Reset</a></p>
        </div>
</div>