/**  =====================
    Authentication css start
==========================  **/
.auth-wrapper {
    overflow-y: hidden;
    height: calc(100vh - 75px);
    padding: 0 60px;

    .auth-side-form {
        background-color: #fff;
        h4 {
            margin-bottom: 30px;
            font-weight: 500;
            color: #212529;
        }
        @media (max-width: 1000px) {
            margin-top: 20px;
            overflow-y: scroll;
        }
    }

    .auth-side-img {
        width: 100%;
        padding-left: 100px;
        @media (max-width: 1000px) {
            display: none;;
        }
    }

}
/**====== Authentication css end ======**/
