<div id="contact" class="row cover bottom mt-4">
  <p class="text-center contact-email"></p>
  <div class="text-center contact-social-icons">
    <ul class="d-flex justify-content-center">
      <a href="mailto:dmwaigithinji@gmail.com">
        <li><i class="fa fa-envelope"></i> Email</li>
      </a>
      <a href="https://www.linkedin.com/in/githinji-mwai-9a207099 ">
        <li><i class="fa fa-linkedin-square"></i> LinkedIn</li>
      </a>
      <a href="https://github.com/DMGithinji">
        <li><i class="fa fa-github"></i> Github</li>
      </a>
    </ul>

  </div><!-- End #Contact -->
</div>
