<section class="section-content" data-section="about">
    <div class="narrow-content">
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <div class="container">
                            <h2 class="heading">Brief Intro</h2>
                            <p class="pt-3">
                                
                                I am a graduate mechatronic engineer, passionate about software development.
                            </p>
                            <p>
                                As a self-starter and life-long learner, I always strive towards consistently developing performant, responsive and
                                beautiful applications. I aspire to join and contribute to teams that develop products, services and experiences that
                                better our society, especially through tech.
                            </p>
                            <p>
                                Currently, I specialize in developing software with Python/Django on the back-end and Angular or ReactJs on the
                                front-end.
                            </p>
                        </div>
                </div>
    </div>
</section>