<section class="section-content" data-section="about">
    <div class="narrow-content">
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <div class="container">
                <h6>SUMMARY</h6>
                <h2>Brief Intro</h2>
                <p class="pt-2">

                    I'm a graduate mechatronic engineer, passionate about software development.
                </p>
                <p>
                    As a self-starter and life-long learner, I always strive towards consistently developing performant,
                    responsive and
                    beautiful applications. I aspire to join and contribute to teams that develop products, services and
                    experiences that
                    better people's lives, especially through tech.
                </p>
                <p>
                    Currently, I specialize in developing software using Python and Javascript programming languages and
                    have proven experience working fullstack, developing applications using Django, Angular and React
                    frameworks/libraries.
                </p>
            </div>
        </div>
    </div>
</section>