/* You can add global styles to this file, and also import other style files */

@import 'styles-variables';

@import '~bootstrap/scss/bootstrap';
@import 'style-reset';


/*Styling for material components and not custom ones*/
@import '~@angular/material/theming';

@include mat-core();

@import './styles/themes/black-theme.scss';
@import './styles/themes/light-theme.scss';

// import custom component themes here
@import 'styles-reset.scss-theme';

/*End of styling for material components and not custom ones*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
