
<main class="hero">
    <section class="container">
        <!-- article -->
        <article>
            <!-- title -->
            <div class="greeting-small">
                <h1 class="title-hero-1">&lt;HelloWorld /&gt;</h1>
                <h1 class="title-hero-1">I'm Denis Githinji</h1>
            </div>
            <div class="greeting-large">
                <h1 class="title-hero-2 ">&lt;HelloWorld /&gt;</h1>
            </div>


            <h1 class="title-hero main">I like to <span class="highlight ">build things</span> <br> 
                that <span class="highlight">make a difference!</span></h1>
            <p class="sub-title-hero">
                and with software, the possibilities are endless. .</p>

            <!-- buttons call to action -->
            <div class="btn-container">
                <a href="mailto:dmwaigithinji@gmail.com" target="blank" class="btn btn-hero"> Reach Out</a>
                <a href="https://drive.google.com/open?id=1d0iMnEHeGBJb_nn_0Qu9wG8Sb6d-_0zD"
                    class="btn btn-hero btn-outline"> View Resume</a>
            </div>
        </article>
        <!-- figure -->
        <figure mt-2>
            <img src="./assets/images/comp.svg" alt="description">
        </figure>
    </section>
</main>